<!DOCTYPE html>
<html>
<head>
    <title>MessengerApp - @ViewData["Title"]</title>
</head>
<body>
    <div>
        @if (!User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Login","Account")">Logowanie</a>
            <a href="@Url.Action("Register","Account")">Rejestracja</a>
        }
        else
        {
            <a href="@Url.Action("Logout","Account")">Wyloguj</a>
        }
    </div>
    <div>
        <p>Menu:</p>
        <a href="@Url.Action("List","Channel")">Lista kanałów</a>
        <a href="@Url.Action("Add","Channel")">Dodaj kanał</a>
        <a href="@Url.Action("Subscribe","Channel")">Subskrypcje</a>
    </div>
    @RenderBody()
</body>
</html>